/****************************************************
 * Helvetica Nueue Import
 ****************************************************/


@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica-neue/HelveticaNeue-UltraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica-neue/HelveticaNeue-UltraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica-neue/HelveticaNeue-Thin.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica-neue/HelveticaNeue-ThinItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica-neue/HelveticaNeue-LightItalic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica-neue/HelveticaNeue-Light.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica-neue/HelveticaNeue-LightItalic.ttf");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica-neue/HelveticaNeue.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica-neue/HelveticaNeue-Italic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica-neue/HelveticaNeue-Medium.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica-neue/HelveticaNeue-MediumItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica-neue/HelveticaNeue-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica-neue/HelveticaNeue-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}








